{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
    <nav class="pagination" role="navigation">
        <span class="page-number">
            {{ if eq .Site.Language.Lang "zh" }}
                第 {{ $pag.PageNumber }} / {{ $pag.TotalPages }} 页
            {{ else }}
                Page {{ $pag.PageNumber }} of {{ $pag.TotalPages }}
            {{ end }}
        </span>
        {{ if $pag.HasPrev }}
            <a class="newer-posts" href="{{ $pag.Prev.URL }}">&larr; {{ if eq .Site.Language.Lang "zh" }}较新的文章{{ else }}Newer Posts{{ end }}</a>
        {{ end }}
        {{ if $pag.HasNext }}
            <a class="older-posts" href="{{ $pag.Next.URL }}">{{ if eq .Site.Language.Lang "zh" }}较旧的文章{{ else }}Older Posts{{ end }} &rarr;</a>
        {{ end }}
    </nav>
{{ end }}
